<h1 style="margin:50px 0 50px 150px;">Item Specification</h1>

<div style="margin-left:100px">
    <div>
        <div id="root">
            <!--  React Landing component: ItemSpecLandingPage.jsx will be rendered here* -->
        </div>

    </div>

</div>


@section ReactScripts{


    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Notes/NoteView.jsx")"></script>
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Notes/Note.jsx")"></script>

    <!--   React TAB_Components * -->
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Tabs/Specification.jsx")"></script>
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Tabs/Tests/Tests.jsx")"></script>
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Tabs/Bolts.jsx")"></script>
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/AddItemSpec.jsx")"></script>
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/Tabs/Tests/TestTemplateForm.jsx")"></script>


    <!--   React Component as a Header for the ItemSpec* -->
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/ItemSpecHeader.jsx")"></script>

    <!--  Main React Component as a LandingPage for the ItemSpec* -->
    <script src="@Url.Content("~/Content/ReactJS/ItemSpecification/ItemSpecLandingPage.jsx")"></script>

}

